/classes
/checkouts
pom.xml
pom.xml.asc
*.class
/.lein-*
/.nrepl-port
data/*
*.dat
*.log
*.aux
*.synctex.gz
/target/classes
/target/gps-sim-0.1.0-SNAPSHOT.jar
/target/repl-port
/target/stale/extract-native.dependencies
